@font-face {
    font-family: Amiri;
    font-weight: normal;
    src: url('../fonts/Amiri-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Amiri;
    font-weight: bold;
    src: url('../fonts/Amiri-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Noto Serif JP;
    font-weight: normal;
    src: url('../fonts/NotoSerifJP-Regular.otf') format('opentype');
}

@font-face {
    font-family: Noto Serif JP;
    font-weight: bold;
    src: url('../fonts/NotoSerifJP-Bold.otf') format('opentype');
}