header {
  height: 6.3vw;
}

.cover_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 30vw;
  margin-bottom: 5.875vw;
}

.cover_section .mobile_super_title {
  display: none;
}

.cover_section .title_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.cover_section .title_container .page_title {
  position: absolute;
  bottom: 50%;
  right: -10vw;
  -webkit-transform: translateY(50%) rotate(-90deg);
          transform: translateY(50%) rotate(-90deg);
  font-size: 6vw;
  font-weight: bold;
  color: #FF981F;
}

.cover_section .title_container img {
  width: 100%;
}

.cover_section .cover_img img {
  width: 70vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cover_section .cover_img img.mobile {
  display: none;
}

@media (max-width: 767.98px) {
  .cover_section {
    height: auto;
    position: relative;
    margin-bottom: 10vw;
  }
  .cover_section .mobile_super_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 12.5vw;
    left: 1.5vw;
  }
  .cover_section .mobile_super_title .page_title_japanese {
    font-size: 3.382vw;
    font-weight: bold;
    font-family: Noto Serif JP;
    color: #fff;
    text-shadow: 0 -0.483vw 0.725vw rgba(0, 0, 0, 0.44);
  }
  .cover_section .mobile_super_title img {
    margin-left: 1vw;
    width: 37vw;
  }
  .cover_section .title_container {
    position: unset;
  }
  .cover_section .title_container .page_title {
    position: absolute;
    bottom: 0;
    left: 1vw;
    right: unset;
    -webkit-transform: unset;
            transform: unset;
    font-size: 17.15vw;
    line-height: .5;
  }
  .cover_section .title_container .desktop {
    display: none;
  }
  .cover_section .cover_img {
    width: 100%;
  }
  .cover_section .cover_img img {
    width: 100%;
    height: auto;
  }
  .cover_section .cover_img img.mobile {
    display: block;
  }
  .cover_section .cover_img img.desktop {
    display: none;
  }
}

.title_container {
  left: .3vw;
}

article {
  font-family: Noto Serif JP;
  text-align: center;
  font-size: 1.5vw;
}

article p {
  margin-bottom: 3vw;
}

@media (max-width: 767.98px) {
  article {
    font-size: 3.14vw;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5vw;
  padding: 9.375vw 0;
  padding-left: 13vw;
}

form .form_group {
  position: relative;
  margin-bottom: 4vw;
}

form .form_group label {
  font-weight: bold;
  position: absolute;
  left: calc(-13vw - 1.5vw);
  top: 50%;
  width: 13vw;
  text-align: right;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

form .form_group label[for="inquiry"] {
  top: calc( 4.625vw / 2);
}

form .form_group input,
form .form_group textarea {
  background: rgba(233, 233, 233, 0.47);
  border: 0.063vw solid rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0px 0.25vw 0.25vw rgba(0, 0, 0, 0.09);
          box-shadow: inset 0px 0.25vw 0.25vw rgba(0, 0, 0, 0.09);
  padding: 2.25vw;
  width: 54.75vw;
}

form .form_group input {
  height: 4.625vw;
}

form .form_group textarea {
  height: 19vw;
  resize: none;
}

form .form_group ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.22);
}

form .form_group :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.22);
}

form .form_group ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.22);
}

form .form_group ::placeholder {
  color: rgba(0, 0, 0, 0.22);
}

form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: #FF981F;
  height: 3.688vw;
  width: 31.813vw;
}

form button:hover {
  -webkit-box-shadow: 0 0.25vw 0.25vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.25vw 0.25vw rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media (max-width: 767.98px) {
  form {
    font-size: 3.14vw;
  }
  form .form_group input,
  form .form_group textarea {
    width: 64.25vw;
  }
  form .form_group input {
    height: 9.42vw;
  }
  form .form_group textarea {
    height: 37vw;
  }
}
/*# sourceMappingURL=contact_us.css.map */