@import './variables';
@import './cover_section';
@import './contact_section';
.cover_section {
    .mobile_super_title {
        img {
            margin-left: 2vw;
            width: 57vw;
        }
    }
}

.top_message_title {
    font-size: 2.25vw;
    font-family: Noto Serif JP;
    text-align: center;
    padding: 2vw 0 3vw;
    @media #{$query_tablet} {
        display: none;
    }
}

.mobile {
    display: none;
    @media #{$query_tablet} {
        display: block;
    }
}

.desktop {
    @media #{$query_tablet} {
        display: none;
    }
}

article {
    .industry_grid {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 1.875vw;
        .section_content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .title_container {
                .title_decoration {
                    img {
                        width: 8.313vw;
                    }
                }
                .section_title2 {
                    padding: .5vw 0;
                }
            }
        }
        .section_text {
            font-size: 1.5vw;
            line-height: 1.46;
        }
    }
     :nth-child(2n) {
        .section_img {
            order: 2;
        }
    }
    @media #{$query_tablet} {
        $body_padding: 0;
        padding: 0 $body_padding;
        .industry_grid {
            grid-template-columns: auto;
            .section_img {
                img {
                    margin-top: 12.077vw;
                }
            }
            .section_content {
                padding: 7.729vw 7.246vw 0;
                .title_container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 3.865vw;
                    .title_decoration {
                        margin-right: 1.7vw;
                        img {
                            width: 1.208vw;
                        }
                    }
                }
            }
            .section_text {
                font-size: 3.14vw;
            }
        }
         :nth-child(2n) {
            .section_img {
                order: unset;
            }
        }
    }
}

#contact_us {
    @media #{$query_tablet} {
        padding: 16.7vw 0 0;
    }
}