@font-face {
  font-family: Amiri;
  font-weight: normal;
  src: url("../fonts/Amiri-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Amiri;
  font-weight: bold;
  src: url("../fonts/Amiri-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Noto Serif JP;
  font-weight: normal;
  src: url("../fonts/NotoSerifJP-Regular.otf") format("opentype");
}

@font-face {
  font-family: Noto Serif JP;
  font-weight: 500;
  src: url("../fonts/NotoSerifJP-Medium.otf") format("opentype");
}

@font-face {
  font-family: Noto Serif JP;
  font-weight: bold;
  src: url("../fonts/NotoSerifJP-Bold.otf") format("opentype");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: normal;
  src: url("../fonts/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: 500;
  src: url("../fonts/NotoSansJP-Medium.otf") format("opentype");
}

@font-face {
  font-family: Noto Sans JP;
  font-weight: bold;
  src: url("../fonts/NotoSansJP-Bold.otf") format("opentype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Amiri;
  font-size: 1vw;
  cursor: default;
}

body ::-moz-selection {
  background: rgba(255, 152, 31, 0.25);
  text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.5);
}

body ::selection {
  background: rgba(255, 152, 31, 0.25);
  text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.5);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fff;
}

a:hover {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

header .search {
  display: none;
}

header .navbar_toggler {
  display: none;
}

header .navbar {
  background-color: #4F4F4F;
  height: 6.3vw;
  padding: 0;
  text-shadow: 0 0.25vw 0.25vw rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1.5vw;
}

header .navbar .logo {
  font-family: Amiri;
  font-weight: normal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6.3vw;
  width: 20vw;
}

header .navbar .logo .acronym {
  font-size: 2.4vw;
}

header .navbar .logo .full_name {
  font-size: 1.2vw;
}

header .navbar .navbar-nav .nav-item .nav-link:hover,
header .navbar .navbar-nav .language .language_item:hover {
  color: #FF981F;
  letter-spacing: .1vw;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

header .navbar .navbar-nav .nav-item {
  height: 6.3vw;
}

header .navbar .navbar-nav .nav-item .nav-link {
  padding: 0;
  height: 100%;
  width: 11.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

header .navbar .navbar-nav .nav-item .nav-link .japanese {
  font-size: .75vw;
  font-family: Noto Serif JP;
  margin-top: .5vw;
}

header .navbar .navbar-nav .nav-item .nav-link.contact_us_menu_item {
  background-color: #FF9314;
}

header .navbar .navbar-nav .nav-item .nav-link.contact_us_menu_item:hover {
  color: #fff;
}

header .navbar .navbar-nav .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .navbar-nav .language .language_item {
  width: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-nav .language .language_item.en {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navbar .navbar-nav .language .lang_separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.25vw;
}

@media (max-width: 767.98px) {
  header {
    min-height: 21.3vw;
  }
  header .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 6.4vw;
  }
  header .search img {
    width: 6.4vw;
  }
  header .navbar_toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 6.4vw;
  }
  header .navbar_toggler img {
    width: 6.4vw;
  }
  header .navbar-collapse {
    background: -webkit-gradient(linear, left top, left bottom, from(#4F4F4F), to(rgba(79, 79, 79, 0))) rgba(79, 79, 79, 0.75);
    background: linear-gradient(#4F4F4F, rgba(79, 79, 79, 0)) rgba(79, 79, 79, 0.75);
  }
  header .navbar {
    min-height: 21.3vw;
    font-size: 4.8vw;
  }
  header .navbar .logo {
    height: 21.3vw;
    width: unset;
  }
  header .navbar .logo .acronym {
    font-size: 6.4vw;
  }
  header .navbar .logo .full_name {
    display: none;
  }
  header .navbar .navbar-nav .nav-item {
    height: auto;
  }
  header .navbar .navbar-nav .nav-item .nav-link {
    padding: 3vw 6.4vw;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .navbar-nav .nav-item .nav-link .japanese {
    font-size: 2.5vw;
    margin: 0 3vw;
  }
  header .navbar .navbar-nav .language {
    padding: 3vw 6.4vw;
  }
  header .navbar .navbar-nav .language .language_item {
    width: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .navbar-nav .language .language_item.en {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  header .navbar .navbar-nav .language .lang_separator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 3vw;
  }
}

footer {
  padding: 4vw 4.5vw;
  background: #4F4F4F;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_col_left *:hover {
  color: #FF981F;
  letter-spacing: .1vw;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

footer .footer_col_left .brand_name {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 1.75vw;
}

footer .footer_col_left .footer_left_item {
  font-size: 1.5vw;
  font-family: Noto Sans JP;
  margin-bottom: 1.75vw;
}

footer .footer_col_right .footer_right_item {
  font-family: Noto Sans JP;
  font-size: 1.15vw;
  line-height: 1.5;
  margin-top: 1.5vw;
}

footer .footer_col_right .footer_right_item strong {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  footer {
    padding: 5vw 7vw 6vw 5.315vw;
  }
  footer .footer_col_left .brand_name {
    font-size: 5.8vw;
    font-weight: normal;
    margin-bottom: 3vw;
  }
  footer .footer_col_left .footer_left_item {
    font-size: 2.66vw;
    margin-bottom: 3vw;
  }
  footer .footer_col_right .footer_right_item {
    font-size: 2.175vw;
    line-height: 1.65;
    margin-top: 0;
    margin-bottom: 2vw;
  }
}

.top_message {
  font-size: 1.875vw;
  font-family: Noto Serif JP;
  line-height: 1.4;
  width: 100%;
  text-align: center;
  text-shadow: 0 0.25vw 0.25vw rgba(0, 0, 0, 0.25);
}

@media (max-width: 767.98px) {
  .top_message {
    font-size: 3.382vw;
    text-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.25);
  }
}

.section_title2 {
  color: #FF981F;
  font-weight: bold;
  font-family: Noto Sans JP;
  font-size: 2.25vw;
  line-height: 1.4;
}

@media (max-width: 767.98px) {
  .section_title2 {
    font-size: 4.348vw;
  }
}

.section_img img {
  margin-top: 7.25vw;
  width: 100%;
}

article {
  font-family: Noto Sans JP;
  padding: 0 12.25vw;
  font-size: 1.188vw;
}

article .section_title2 {
  padding: 2.25vw 0;
}

article p,
article li {
  line-height: 1.6;
}

article p {
  margin-bottom: 2vw;
}

article strong {
  font-weight: bold;
  line-height: 1.6;
}

article ol {
  list-style: decimal;
}

article ol .p {
  margin: 0 0 2vw 1.5vw;
}

article ol ul li {
  margin-left: 0;
}

@media (max-width: 767.98px) {
  article {
    padding: 0 5vw;
    font-size: 3.14vw;
  }
  article .section_title2 {
    padding: 3vw 0 4.5vw;
  }
  article p,
  article li {
    line-height: 1.68;
  }
  article p {
    margin-bottom: 2vw;
  }
  article strong {
    font-weight: bold;
    line-height: 1.6;
  }
  article ol {
    list-style: decimal;
  }
  article ol .p {
    margin: 0 0 2vw 1.5vw;
  }
  article ol ul li {
    margin-left: 0;
  }
  article .mb_mobile {
    margin-bottom: 5vw;
  }
}
/*# sourceMappingURL=master.css.map */