@import './variables';
@import './fonts';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    //
    font-family: Amiri;
    font-size: 1vw;
    cursor: default;
     ::selection {
        background: rgba($primary, .25);
        text-shadow: 0 .1vw .1vw rgba($black, .5);
    }
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: $white;
    &:hover {
        color: unset;
        text-decoration: none;
        cursor: pointer;
    }
}

@import './header';
@import './footer';
.top_message {
    font-size: 1.875vw;
    font-family: Noto Serif JP;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    text-shadow: 0 .25vw .25vw rgba($black, 0.25);
    @media #{$query_tablet} {
        font-size: 3.382vw;
        text-shadow: 0 1vw 1vw rgba($black, 0.25);
    }
}

.section_title2 {
    color: $primary;
    font-weight: bold;
    font-family: Noto Sans JP;
    font-size: 2.25vw;
    line-height: 1.4;
    @media #{$query_tablet} {
        font-size: 4.348vw;
    }
}

.section_img {
    img {
        margin-top: 7.25vw;
        width: 100%;
    }
}

article {
    font-family: Noto Sans JP;
    padding: 0 $body_padding;
    font-size: 1.188vw;
    .section_title2 {
        padding: 2.25vw 0;
    }
    p,
    li {
        line-height: 1.6;
    }
    p {
        margin-bottom: 2vw;
    }
    strong {
        font-weight: bold;
        line-height: 1.6;
    }
    ol {
        list-style: decimal;
        .p {
            margin: 0 0 2vw 1.5vw;
        }
        ul {
            li {
                margin-left: 0;
            }
        }
    }
    @media #{$query_tablet} {
        $body_padding: 5vw;
        padding: 0 $body_padding;
        font-size: 3.14vw;
        .section_title2 {
            padding: 3vw 0 4.5vw;
        }
        p,
        li {
            line-height: 1.68;
        }
        p {
            margin-bottom: 2vw;
        }
        strong {
            font-weight: bold;
            line-height: 1.6;
        }
        ol {
            list-style: decimal;
            .p {
                margin: 0 0 2vw 1.5vw;
            }
            ul {
                li {
                    margin-left: 0;
                }
            }
        }
        .mb_mobile {
            margin-bottom: 5vw;
        }
    }
}