{% load static %}
<!-- Contact Us -->
<section id="contact_us">
    <div class="bg">
        <div class="contact_grid">
            <div class="contact_us_title">Contact Us</div>
            <a href="{% url 'contact_us' %}">
                <div class="contact_us_button">
                    <div class="button_text">お問い合わせはこちら</div>
                    <img src="{% static 'img/arrow_forward.svg' %}" alt="">
                </div>
            </a>
        </div>
    </div>
</section>
<!-- !Contact Us -->