{% extends "base.html" %} {% load static %} {% block title %}Industries{% endblock %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/industries.css' %}"> {% endblock %} {% block content %} {% include "_cover_section.html" with japanese_title='産業領域' english_title='Industries' cover_img='img/industries_cover.png' cover_img_mobile='img/industries_cover_mobile.png' %}
<!-- Top Message -->
<div class="top_message_title">産業領域</div>
<div class="top_message desktop">各産業ごとに必要な人材、資源は異なるため パートナーとの<br>ネットワークを効率的に活用し、<br>お客様をサポートします。</div>
<div class="top_message mobile">各産業ごとに必要な人材、資源は異なるため<br>パートナーとのネットワークを効率的に活用し、<br>お客様をサポートします。</div>
<!-- !Top Message -->

<article>
    <!-- Agricultural Science and Technology -->
    <section id="agro" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/agricultural_science_and_technology.png'%}" alt="">
            <img class="mobile" src="{%static 'img/agricultural_science_and_technology_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">農業科学技術</div>
            </div>
            <div class="section_text">
                <span class="desktop">科学技術を農業に取り入れることによって、<br>農業生産性の飛躍的な発展を推進する。</span>
                <span class="mobile">科学技術を農業に取り入れることによって、農業生産性の<br>飛躍的な発展を推進する。</span>
            </div>
        </div>
    </section>
    <!-- !Agricultural Science and Technology -->

    <!-- Health management -->
    <section id="health_management" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/health_management2.png'%}" alt="">
            <img class="mobile" src="{%static 'img/health_management2_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">健康管理（維持・予防）</div>
            </div>
            <div class="section_text">
                <span class="desktop">次世代ヘルスケア産業へ向けて、公的保険外の予防・健康管理サービスの活用を達成。</span>
                <span class="mobile">次世代ヘルスケア産業へ向けて、公的保険外の予防・健康<br>管理サービスの活用を達成。</span>
            </div>
        </div>
    </section>
    <!-- !Health management -->

    <!-- Aerospace -->
    <section id="aerospace" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/aerospace.png'%}" alt="">
            <img class="mobile" src="{%static 'img/aerospace_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">航空宇宙</div>
            </div>
            <div class="section_text">
                <span class="desktop">速くて安く、便利な人とモノの移動が実現可能となる、 次世代の都市間移動サービス。</span>
                <span class="mobile">速くて安く、便利な人とモノの移動が実現可能となる、<br>次世代の都市間移動サービス。</span>
            </div>
        </div>
    </section>
    <!-- !Aerospace -->

    <!-- Family care -->
    <section id="family_care" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/family_care.png'%}" alt="">
            <img class="mobile" src="{%static 'img/family_care_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">ファミリーケア</div>
            </div>
            <div class="section_text">
                <span class="desktop">家族は愛を育む学校。夫婦、親、子として学びながら円満な家庭を築くライフスタイル。</span>
                <span class="mobile">家族は愛を育む学校。夫婦、親、子として学びながら円満<br>な家庭を築くライフスタイル。</span>
            </div>
        </div>
    </section>
    <!-- !Family care -->

    <!-- Mobile banking -->
    <section id="mobile_banking" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/mobile_banking.png'%}" alt="">
            <img class="mobile" src="{%static 'img/mobile_banking_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">モバイルバンキング</div>
            </div>
            <div class="section_text">
                <span class="desktop">最新のセキュリティ技術で安全に、いつでもどこでも 金融機関のサービスがご利用可能に。</span>
                <span class="mobile">最新のセキュリティ技術で安全に、いつでもどこでも<br>金融機関のサービスがご利用可能に。</span>
            </div>
        </div>
    </section>
    <!-- !Mobile banking -->

    <!-- IT & system integration -->
    <section id="system_integration" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/system_integration.png'%}" alt="">
            <img class="mobile" src="{%static 'img/system_integration_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">IT & システムインテグレーション</div>
            </div>
            <div class="section_text">
                <span class="desktop">戦略システム構築からマーケティングや最新テクノロジーとの連携まで。ビジネスを自由自在に拡張する。</span>
                <span class="mobile">戦略システム構築からマーケティングや最新テクノロジー<br>との連携まで。ビジネスを自由自在に拡張する。</span>
            </div>
        </div>
    </section>
    <!-- !IT & system integration -->

    <!-- Blockchain/AI -->
    <section id="blockchain" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/blockchain_ai.png'%}" alt="">
            <img class="mobile" src="{%static 'img/blockchain_ai_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">ブロックチェーン・AI</div>
            </div>
            <div class="section_text">
                <span class="desktop">ブロックチェーン・AIでビジネスや社会の課題を解決する。</span>
                <span class="mobile"> 戦略システム構築からマーケティングや最新テクノロジー<br>との連携まで。ビジネスを自由自在に拡張する。</span>

            </div>
        </div>
    </section>
    <!-- !Blockchain/AI -->

    <!-- financial services and tax costs -->
    <section id="financial" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/financial_services.png'%}" alt="">
            <img class="mobile" src="{%static 'img/financial_services_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">金融サービス・税務コストの最適化</div>
            </div>
            <div class="section_text">税務について事業戦略との連携を高めその最適化を図る。
            </div>
        </div>
    </section>
    <!-- !financial services and tax costs -->

    <!-- Gaming -->
    <section id="gaming" class="industry_grid">
        <div class="section_img">
            <img class="desktop" src="{%static 'img/gaming.png'%}" alt="">
            <img class="mobile" src="{%static 'img/gaming_mobile.png'%}" alt="">
        </div>
        <div class="section_content">
            <div class="title_container">
                <div class="title_decoration">
                    <img class="desktop" src="{%static 'img/title_decoration.svg'%}" alt="">
                    <img class="mobile" src="{%static 'img/title_decoration_mobile.svg'%}" alt="">
                </div>
                <div class="section_title2">ゲーミング</div>
            </div>
            <div class="section_text">ゲームを通して、新しい知識と教育システムを。
            </div>
        </div>
    </section>
    <!-- !Gaming -->

</article>

{% include "_contact_us_section.html" %} {% endblock %}