{% extends "base.html" %} {% load static %} {% block title %}Service{% endblock %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/service.css' %}"> {% endblock %} {% block content %} {% include "_cover_section.html" with japanese_title='サービス' english_title='Service' cover_img='img/service_cover.png' cover_img_mobile='img/service_cover_mobile.png' %}


<!-- Top Message -->
<div class="top_message">各分野のエキスパートがお客様のニーズに合わせて<br>成功へと導きます</div>
<!-- !Top Message -->

<!-- List of Services -->
<section id="list_of_services">
    <div class="section_title2">サービス一覧</div>
    <div class="services_grid">
        <div class="service_card">
            <span class="desktop">デジタルマーケティングコンサルティング</span>
            <span class="mobile">デジタルマーケティング<br>コンサルティング</span>
        </div>
        <div class="service_card">ウェブ・アプリ・<br>Blockchain 制作&運用</div>
        <div class="service_card">海外進出</div>
        <div class="service_card">投資マッチング<br>税務監督・最適化サービス</div>
        <div class="service_card">健康管理</div>
        <div class="service_card">不動産開発</div>
    </div>
</section>
<!-- !List of Services -->

<article>
    <!-- Digital Marketing Consulting -->
    <section id="digital_marketing">
        <div class="section_img">
            <img class="desktop" src="{%static 'img\digital_marketing.png'%}" alt="Digital Marketing">
            <img class="mobile" src="{%static 'img\digital_marketing_mobile.png'%}" alt="Digital Marketing">
        </div>
        <div class="section_title2 desktop">デジタルマーケティングコンサルティング</div>
        <div class="section_title2 mobile">デジタルマーケティング<br>コンサルティング</div>
        <div class="dm_grid">
            <div class="dm_column">
                <strong>提供しているサービス内容</strong>
                <ul>
                    <li>- ヒューリスティック分析</li>
                    <li>- サイトのユーザビリティの評価</li>
                    <li>- 課題や問題点の解明</li>
                    <li>- マーケティングオートメーションの導入</li>
                    <li>- ソフトウェアやSNS戦略策定</li>
                    <li>- CRMの導入</li>
                    <li>- Web PR企画</li>
                    <li>- SEO対策</li>
                </ul>
            </div>
            <div class="dm_column">
                <strong>こんなお悩みを解決!</strong>
                <ul>
                    <li>- どこから手をつけていいか分からない</li>
                    <li>- Webを通して結果を出したい</li>
                    <li>- 社内にWebのノウハウやリソースがない</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- !Digital Marketing Consulting -->

    <!-- Blockchain -->
    <section id="blockchain">
        <div class="section_img">
            <img class="desktop" src="{%static 'img\blockchain.png'%}" alt="">
            <img class="mobile" src="{%static 'img\blockchain_mobile.png'%}" alt="">
        </div>
        <div class="section_title2 desktop">ウェブ・アプリ・Blockchain 制作&運用</div>
        <div class="section_title2 mobile">ウェブ・アプリ・<br>Blockchain 制作&運用</div>
        <p class="mb_mobile">
            <strong>ウェブ制作</strong><br> 貴社とヒアリングをし課題とゴールを明確にします。市場調査や分析をもとにサイトのコンセプトの決定し、要件定義にて構造や必要な機能などを決め画面設計をしていき、デザインやシステム開発などの実制作へ進みます。弊社のウェブ制作は、ビジネス課題を解決するため課題抽出と戦略設計をおこない、ビジネスで成果を上げることを目的とした貴社の魅力が伝わるサイト作りを提供しています。
        </p>
        <p class="mb_mobile">
            <strong>アプリ(アンドロイド・iOS)開発</strong><br>お客様から頂いたご依頼をもとに詳細なヒアリングを行います。ユーザー体験を中心におき、コンテンツ設計、UI/UX設計などをし、開発か らメンテナンスにも対応しております。
        </p>
        <p class="mb_mobile">
            <strong>Blockchain開発</strong><br>ブロックチェーンを導入しての新規ビジネスの検討や既存ビジネスの改善をサポートいたします。ご依頼をもとに、市場調査や分析、ビジネスモデル構築、要件定義、開発、運営と一貫したコンサルティングを行います。
        </p>
    </section>
    <!-- !Blockchain -->

    <!-- Overseas -->
    <section id="overseas">
        <div class="section_img">
            <img class="desktop" src="{% static 'img/overseas.png' %}" alt="">
            <img class="mobile" src="{% static 'img/overseas_mobile.png' %}" alt="">
        </div>
        <div class="section_title2">海外進出</div>
        <p class="mb_mobile">
            日本から海外進出をご検討されているお客様に対して、広範囲な支援サービスをご提供しています。海外展開したいけどどの国から 始めようか悩んでいるお客様や、国・地域ごとの需要、課税、物価等がいまいち分からないという企業も多くあります。そういった日 本の企業と外国の企業の架け橋として、お客様にとって「信頼できる企業の一員」とした姿勢を心がけています。
        </p>
        <p>
            <ul>
                <strong>提供しているサービス内容</strong>
                <li>- 法人・事務所設立支援</li>
                <li>- 貿易業務代行</li>
                <li>- 市場調査・販路開拓支援</li>
                <li>- 商品PR支援</li>
                <li>- 商品カスタマイゼーション</li>
                <li>- 書類やHPの通訳・翻訳</li>
                <li>- 人材紹介</li>
                <li>- 豊富なコンサルティング実績</li>
                <li>- 貿易業務のノウハウ</li>
                <li>- 海外ネットワークなどを活かして、進出計画の具体化や、進出 後を見据えた入念な準備-本格展開後の販促活動</li>
                <li>- 貴社の海外事業を成功に導く的確なサポート</li>
            </ul>
        </p>
    </section>
    <!-- !Overseas -->

    <!-- Investment Matching -->
    <section id="investment">
        <div class="section_img">
            <img class="desktop" src="{% static 'img/investment.png'%}" alt="">
            <img class="mobile" src="{% static 'img/investment_mobile.png'%}" alt="">
        </div>
        <div class="section_title2">投資マッチング</div>
        <p>お客様が事業拡大のため必要としている資金を投資してくれる投資家とお引き合わせするサービスを提供しています。K-Gen Groupの強みは、 世界中にネットワークがあることです。投資を必要としている企業が多い中、それを支援したいと言ってくれる投資家と出会うのは容易いことではありません。多くの時間、労働とネットワークを要します。特に大きな可能性を秘めている個人投資家は探してもそう簡単に出会えるものではありません。そんな創造力と行動力のある起業家と、そのビジョンに共感する投資家が、大きなビジネスチャンスを逃さないように最適な出会いをサポートしています。</p>
        <p>
            <ul>
                <strong>提供しているサービス内容</strong>
                <li>- 通訳</li>
                <li>- ブランディング強化</li>
                <li>- 投資家を引き付けるデジタルキャンペーン- エンジェル投資家</li>
                <li>- シードマネーの調達</li>
            </ul>
        </p>
        <p><strong>地域</strong><br>アメリカ合衆国/ヨーロッパ /中国/東南アジア/インド/アラブ世界</p>
    </section>
    <!-- !Investment Matching -->

    <!-- Tax Supervision -->
    <section id="tax_supervision">
        <div class="section_img">
            <img class="desktop" src="{% static 'img/tax_supervision.png' %}" alt="">
            <img class="mobile" src="{% static 'img/tax_supervision_mobile.png' %}" alt="">
        </div>
        <div class="section_title2">税務監督・最適化サービス</div>
        <p>日本では生活を営む上で約 50 種類の税金と関係して暮らしており、税制改正は毎年行われております。 経営者は税金に関しても情報を適切に生かしていくことが求められています。 私たちは経営者の税務会計のパートナーとして、 良質な情報提供と情報交換を通して信頼関係を高め、 お客様の安心と繁栄に貢献していきます。</p>
    </section>
    <!-- !Tax Supervision -->

    <!-- Health management -->
    <section id="health_management">
        <div class="section_img">
            <img class="desktop" src="{% static 'img/health_management.png' %}" alt="">
            <img class="mobile" src="{% static 'img/health_management_mobile.png' %}" alt="">
        </div>
        <div class="section_title2">健康管理</div>
        <p class="mb_mobile">次世代ヘルスケア産業へ向けて、公的保険外の予防・健康管理サービスの活用を達成することを目指しています。それを通して生活習慣の改善や受診勧奨等を促すことにより、「重症化した後の治療」から「予防や早期診断・早期治療」に重点化するととも に、地域包括ケアシステムと連携した事業に取り組んでいます。</p>
        <p>
            <ol>
                <strong>提供しているサービス内容</strong>
                <li class="p mb_mobile">インフォメーションサービス
                    <ul>
                        <li>- 健康管理・医療に関連する情報・教育の提供。</li>
                    </ul>
                </li>
                <li class="p mb_mobile">テクノロジーサービス
                    <ul>
                        <li>- 日々刻々と変化していく社会で、企業が本当に必要としている分野にソフトウェアやテクノロジーを導入しています。</li>
                        <li>- 従業員のマネジメントのツールとして活用できる、柔軟で効率的なIT環境を提供します。</li>
                        <li>- ビッグデータ、モバイル、クラウドなど、新しい潮流が短時間でビジネスに活用される昨今のテクノロジーの分野におい て、CRMやマルチチャネルマーケティング、マスターデータマネジメントなど、ライフサイエンス業界が必要とする IT環境 へのニーズの変化にも対応します。</li>
                    </ul>
                </li>
                <li class="p mb_mobile">ソリューションサービス
                    <ul>
                        <li>- これまで人類が扱ったことのない最大スケールのヘルスケア分野のデータを基にして、新たな視点からお客様が抱える問題 に様々なソリューションを提供しています。</li>
                        <li>- 企業をとりまく環境変化への対応など、個別ニーズに合わせた、きめ細かいコンサルティングも行っています。</li>
                    </ul>
                </li>
            </ol>
        </p>
    </section>
    <!-- !Health management -->

    <!-- Real estate development -->
    <section id="real_state">
        <div class="section_img">
            <img class="desktop" src="{% static 'img/real_state_development.png' %}" alt="">
            <img class="mobile" src="{% static 'img/real_state_development_mobile.png' %}" alt="">
        </div>
        <div class="section_title2">不動産開発</div>
        <p class="mb_mobile">不動産の購入や売却、管理方法、活用法などの悩みを抱えるお客様に対し、客観的な立場から要望にお応えします。物件の売買時や賃貸時における相談、土地や建物の有効活用方法の提案、相続などの問題の解決、ありとあらゆる課題に対して精通したプロフェッショナルが客観的な立場からサポートをします。不動産を「売る」「買う」「貸す」「借りる」といった基本的なサービス以外にも、取引時の契約書・重要事項説明書の作成、金融機関との融資交渉といった実務も提供しています。</p>
        <ul>
            <li>- 相続した土地に収益物件を建てたい</li>
            <li>- 空室の多くなった賃貸住宅を何とかしたい </li>
            <li>- 所有地を隣地と合わせて活用したい<br>など、不動産にまつわる様々な相談事に応え、お客様をその解決策や改善策へと導きます。</li>
        </ul>
    </section>
    <!-- !Real estate development -->
</article>

{% include "_contact_us_section.html" %} {% endblock %}
